*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
#kapsayici{
    width: 1200px;
    height: 600px;    
    margin-left: auto;  
    margin-right: auto; 
     
}
#ust{
    width: 1200px;
    height: 100px;
    background-color: red;
    line-height: 100px;
}
#sol{
    width: 400px;
    height: 400px;
    background-color:yellow;    
    float: left;
    line-height: 400px;
}
#icerik{
    width: 400px;
    height: 400px;
    background-color:green;
    float: left;
    line-height: 400px;
}
#sag{
    width: 400px;
    height: 400px;
    background-color:greenyellow;
    float: left;
    line-height: 400px;
}
#alt{
    width: 1200px;
    height: 100px;
    background-color: grey;
    clear: both;
    line-height: 100px;
}
